<div class="mat-elevation-z8" id="contentTable">
  <mat-form-field id="input">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
  </mat-form-field>
  <div id="contentTableWithColumsAndRows">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="content" class="table-active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contenedor </th>
        <td mat-cell *matCellDef="let example"> {{example.content}} </td>
      </ng-container>

      <ng-container matColumnDef="energy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Energía consumida </th>
        <td mat-cell *matCellDef="let example"> {{example.energy}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let example"> {{example.date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let example; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td *ngIf="detail == ''" class="mat-cell" colspan="4">No hay información</td>
        <td *ngIf="detail != ''" class="mat-cell" colspan="4">Ninguna coincidencia encontrada con
          "{{input.value}}"
        </td>
      </tr>
    </table>
    <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>