<div class="mat-elevation-z8" id="contentTable">
  <mat-form-field id="input">
    <mat-label>Buscar por nombre o correo</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por nombre o correo" #input>
  </mat-form-field>
  <div id="contentTableWithColumsAndRows">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name" class="table-active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let example"> {{example.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let example"> {{example.email}} </td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let example">
          <button class="btn btn-success" (click)="reestablecer(example.id)"><i
              class="fas fa-check-double"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let example; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td *ngIf="users == ''" class="mat-cell" colspan="4">No hay información</td>
        <td *ngIf="users != ''" class="mat-cell" colspan="4">Ninguna coincidencia encontrada con "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>